// from corporate: http://vpcomm.umich.edu/brand/style-guide/design-principles/colors
// prefix with michigan-
$michigan-maize: #ffcb05;
$michigan-blue: #00274c;

// custom colors
$blue: #003399;
$gray: #f0f0f0;

// footer
$footer-height: 80px;
