@import 'globals';

header {
  height: 100px;
  min-width: 100%;
  background-color: $blue;
  padding: 15px 20px;

  img {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
  }
}
