{% extends "base-template.html" %}
{% block title %}{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='css/home.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content%}

<div id="home-wrapper">

  <section id="home-left-panel">
    <div id="react-image-upload">Loading...</div>
  </section>

  <section id="home-right-panel">
    <!-- <div id="react-image-stats">Loading...</div> -->
    <p>
      {{type}}
    </p>

    <input type=hidden value ={{type}} />
  </section>

</div>



{% endblock %}
