{% extends "base-template.html" %}
{% block title %}{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='css/home.scss.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content%}

<div id="home-wrapper">

  <section id="home-left-panel">
    <a style="left: 0;
    top: 0;
    margin-top: 100px;
    position: absolute;" href="{{url_for('home')}}">Back</a>
    <img style="height: 400px;" src="{{url_for('download_img', filename=filename)}}"/>
  </section>

  <section id="home-right-panel">

    <input id="normal_pct" type=hidden value={{stats["results"][1]}} />
    <input id="broken_pct" type=hidden value={{stats['results'][0]}} />

    <input id="normal_label" type=hidden value={{stats["labels"][1]}} />
    <input id="broken_label" type=hidden value={{stats['labels'][0]}} />

    <h3>
      This looks like a <b><u>{{guess}}</u></b>
    </h3>


    <table id="results-table" class="pt-html-table pt-html-table-bordered pt-small pt-html-table-striped ">
      <thead>
        <tr>
          <th>{{stats['labels'][1]}}</th>
          <th>{{stats['labels'][0]}}</th>
        </tr>
      </thead>


      <tbody>
        <tr>
          <td>{{stats['results'][1]}}</td>
          <td>{{stats['results'][0]}}</td>
        </tr>
      </tbody>
    </table>
    <div id="react-stats">

    </div>
  </section>

</div>



{% endblock %}
